<%= form_for @changeset, bowling_path(@conn, :create), fn user -> %>
  <div class="form-group">
Player(Username):<%= text_input user, :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= submit "Start Game", id: "submit_button", class: "btn btn-primary" %>
  </div>
<% end %>