<%= form_for @conn, bowling_path(@conn, :create), fn f -> %>

<h2>Current Frames :</h2>

<table class="table">
  <thead>
    <tr>
      <th>Roll 1:</th>
      <th>Roll 2:</th>
      <th>Roll 3:</th>
      <th></th>
    </tr>
  </thead>
  <tbody>

    <tr>
      <td><%= text_input f, :roll1 %></td>
      <td><%= text_input f, :roll2 %></td>
      <td><%= text_input f, :roll3 %></td>
    </tr>

  </tbody>
</table>

<%= submit "Save", id: "submit_button", class: "btn btn-primary" %>
<% end %>